Source: bearwall
Section: net
Priority: optional
Maintainer: Brad Cowie <brad@gizmoguy.net.nz>
Uploaders: Matt Brown <debian@mattb.net.nz>
Build-Depends: debhelper (>= 8.0.0), dh-systemd, lsb-release
Standards-Version: 3.9.1

Package: bearwall
Architecture: all
Depends: ${misc:Depends}, iptables (>= 1.2), rsyslog, logrotate
Recommends: iproute2
Provides: linuxserver-firewall
Replaces: linuxserver-firewall
Conflicts: linuxserver-firewall, shorewall, firewall-easy, ipmasq, knetfilter
Description: firewall component for the Linux Server project
 Bearwall (aka Perry's Firewalling Script) is an easily configured, extensible
 firewall designed for small to medium enterprise use - but scalable
 to any number of users.
 .
 For more information, see the authors original hints at
 http://www.wlug.org.nz/PerrysFirewallingScript.
